<h1>Management Dashboard</h1>

<%= link_to  "Leaders", @leaders %>
<%= link_to  "Scouts", @scouts %> 
<%= link_to  "Packs", @packs %>
<%= link_to  "Dens", @dens %>

<%
=begin%>
 if ther are no models say you have nothing to manage? 
<%
=end%>

