<h1>Management Dashboard</h1>

<%= link_to  "Leaders", @leaders, :class => "btn btn-primary btn-sm" %>
<%= link_to  "Scouts", @scouts, :class => "btn btn-primary btn-sm" %> 
<%= link_to  "Packs", @packs, :class => "btn btn-primary btn-sm" %>
<%= link_to  "Dens", @dens, :class => "btn btn-primary btn-sm"%>

<%
=begin%>
 if ther are no models say you have nothing to manage? 
<%
=end%>

