<% content_for :content do %>

    <div class="jumbotron text-center">
        <h1>Pack Info</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <%= yield %>
                </p>
            </div>
            <div class="col-lg-6">
                <p>

                    <div class="caption">You can always count on a pack to be friendly and welcoming!</div>
                    <img src="" alt="Cub Scouts">
                </p>

            </div>
        </div>
    </div>

<% end %>
<%= render template: "layouts/application" %>